@use 'variables.scss' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    color: map-get($map: $headerColors, $key: font);
}


.strings {
    color: map-get($map: $codeColor, $key: strings);
}

.comentarios {
    color: map-get($map: $codeColor, $key: comments);
}

.literais {
    color: map-get($map: $codeColor, $key: literals);
}

.numeros {
    color: map-get($map: $codeColor, $key: numbers);
}

.simbolos {
    color: map-get($map: $codeColor, $key: symbols);
}

.declaracoes {
    color: map-get($map: $codeColor, $key: declarations);
}

.modificadores {
    color: map-get($map: $codeColor, $key: modifiers);
}

.flow {
    color: map-get($map: $codeColor, $key: flow);
}

.tipo {
    color: map-get($map: $codeColor, $key: type);
}

.acesso {
    color: map-get($map: $codeColor, $key: access);
}

.identificador {
    color: map-get($map: $codeColor, $key: identifiers);
}

.organizadores {
    color: map-get($map: $codeColor, $key: organizer);
}


